<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Rengifo Art Abstraccion</title>
	<link rel="icon" type="image/x-icon" href="../assets/Bitcode.ico" />
    <link rel="stylesheet" href="../css/estilos.css">
      <link rel="stylesheet" href="../elementos/style.css">
	<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
   <header class="header">
       <div class="container">
           <div class="logo">
               <h2>Rengifo Art</h2>
           </div>
           <nav class="menu">
               <ul>
                 <li><a href="../index.html">Inicio</a></li>
                 <li><a href="#">Galeria <i class="icon-abajo2"></i></a>
                  <ul class="submenu">
                     <li><a href="#">Abstraccion</a></li>
                     <li><a href="./bodegon.html">Bodegon</a></li>
                     <li><a href="./flora.html">Flora,color,forma y erotismo</a></li>
                      <li><a href="./paisaje.html">Paisajes</a></li>
                     <li><a href="./retrato.html">Retrato</a></li>
                 </ul>
                 </li>
                 <li><a href="./contacto.php">Contactanos</a></li>
               </ul>
           </nav>
       </div>
   </header>

    <div class="portada">
    </div>
				    <div class="container-boton">
        <a href="https://wa.me/573206489279?text=Quiero%20saber%20sobre%20una%20obra%20de%20arte" target="_blank">
            <img class="boton" src="../assets/icono.png" alt="">
        </a>
    </div>
	<br>
	<br>
	<br>
  <h1><span>Abstraccion</span></h1>
  <div class="ful-img" id="fulImgBox">
      <img src="imgs/1.jpg" id="fulImg" alt="">
      <span onclick="closeImg()">X</span>
  </div>
  <br>
	<br>
	<br>
  <div class="img-gallery">
      <img src="../imgs/abstraccion/1.JPG" onclick="openFulImg(this.src)" alt="">
      <img src="../imgs/abstraccion/2.JPG" onclick="openFulImg(this.src)" alt="">
      <img src="../imgs/abstraccion/3.jpg" onclick="openFulImg(this.src)" alt="">
    </div>

<footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="../assets/prueba.png" alt="">
                </div>
                <div class="terms">
                    <p>esto es un parrafo.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="#">Acerca de</a>
                <a href="#">Trabajos</a>
                <a href="#">Procesos</a>
                <a href="#">Servicios</a>
            </div>
            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>
        </div>
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Esleyder</b></p>
        </div>
    </footer>
    <script src="../elementos/script.js"></script>
</body>
</html>
